body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.project-2 {
  background: #2e40cc;
  color: #fff;
}

.contact {
  background: #e74c3c;
  color: #fff;
}
.fp-watermark {
  display: none !important;
}
