* {
  --couleur-titre: #012030;
  --couleur-texte: #f1f1f1;
  font-family: "Crimson Text", serif;
}
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.contact {
  background: #e74c3c;
  color: #fff;
}
.fp-watermark {
  display: none !important;
}
